body {
    font-family: Poppins;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.last-report {
    padding: 40px;
    /* min-height: 450px; */
    /* height: 450px; */
}

.report-container {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 5px;
    align-content: center;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 30px;
}

.last-report {
    padding: 40px;
    /* min-height: 450px; */
    /* height: 450px; */
}

.recent-heading {
    text-align: left;
    font-size: 25px;
}

.recent-row {
    height: 100px;
    padding: 20px;
}

.recent-data {
    padding: 20px;
}

.recent-row-percentage {
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.percent-border-bottom {
    border-bottom: 2px solid gray;
}

.recent-row-date-time {
    text-align: center;
    font-size: 20px;
}


/* MISCELLANEOUS START */

.small-name {
    font-size: 15px;
    margin: 0px;
}

.big-name {
    margin: 0px;
    font-size: 30px;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

/* MISCELLANEOUS START */