{% load static %}
<html>

<head>
    <title>{{last_report.id}}</title>
    <link rel="stylesheet" href="{% static 'css/report_status.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
</head>

<body>
    <div class="report-container" id="recent-report-container">
        <div class="card last-report" id="recent-report-card">
            <table class="recent-report">
                <th colspan="2" class="recent-heading">Report Details</th>
                <tr class="recent-row">
                    <td class="recent-data">
                        <p class="small-name">Currency</p>
                        <p class="big-name">{{last_report.currency_id}}</p>
                    </td>
                    <td class="recent-data">
                        <p class="small-name">Interval</p>
                        <p class="big-name">{{last_report.interval_id}} Minutes</p>
                    </td>
                </tr>
                <tr class="recent-row">
                    <td class="recent-data">
                        <p class="small-name">From Date</p>
                        <p class="big-name">{{last_report.from_date|date:'Y-m-d'}}</p>
                    </td>
                    <td class="recent-data">
                        <p class="small-name">To Date</p>
                        <p class="big-name">{{last_report.to_date|date:'Y-m-d'}}</p>
                    </td>
                </tr>
                <tr class="recent-row-percentage">
                    <td colspan="2" class="percent-border-bottom">
                        <p class="small-name">Percentage</p>
                        {{last_report.percentage | floatformat:"-2"}}%
                    </td>
                </tr>
                <tr class="recent-row-date-time">
                    <td colspan="2">
                        {{last_report.report_date_time}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>